@page
@model IndexModel
@{
    ViewData["Title"] = "County Record Viewer";
}

<div class="text-center">
    <h1 class="display-4">Welcome ThorTech Solutions Dev Team</h1>
    <p>Click to browse <a href="/Records">records</a>.</p>
</div>
